<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemeIdentifier</key>
	<string>com.github.atlantic-breeze</string>
	<key>Name</key>
	<string>Atlantic Breeze</string>
	<key>CreatorHomePage</key>
	<string>https://github.com/ncFoCo</string>
	<key>CreatorName</key>
	<string>Nick Clements</string>
	<key>Version</key>
	<integer>8</integer>
</dict>
</plist>
